*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.body-style {
  display: grid;
  margin: 0;
}

.main-content {
  display: grid;
  justify-items: center;
  position: relative;
}
