.card-head {
  box-sizing: content-box;
  height: 45px;
  background-color: #63c787;
}

.question-headline {
  font-family: "Nunito", sans-serif;
  color: black;
  margin: 0;
}

.prescription {
  font-size: 8px;
}

.form-layout {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 500px;
  background-color: white;
  border: 5px solid #699d9e;
  box-shadow: -5px 5px 5px 0px lightgrey;
}

/* .formflex {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.middle-line {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #63c787;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin: 0;
  border: 0;
}

.question-text {
  margin: 5px 0;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.answer-text {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.label-text {
  padding: 30px;
  margin: 30px;
}
