@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.card-head {
  box-sizing: content-box;
  height: 2.8em;
  background-color: #63c787;
  display: flex;
  align-items: center;
  padding: 0 0 0 0.625em;
}

@media screen and (max-width: 550px) {
  .card-head {
    height: 2.1em;
    padding: 0 0 0 0.47em;
  }
}

.question-headline {
  font-family: 'Nunito', sans-serif;
  color: black;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .question-headline {
    font-size: 0.9em;
  }
}

.card-layout {
  position: relative;
  top: 12.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28.125em;
  height: 18.75em;
  background-color: white;
  border: 0.3rem solid #699d9e;
  box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
}

@media screen and (max-width: 550px) {
  .card-layout {
    top: 6em;
    width: 22em;
    height: 25em;
    border: 0.25rem solid #699d9e;
    box-shadow: -0.25em 0.25em 0.25em 0 lightgrey;
  }
}

/* Kopieren nicht vergessen von card-layout +height 400px */
.card-layout-answer {
  position: relative;
  top: 12.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28.125em;
  height: 25em;
  background-color: white;
  border: 0.3em solid #699d9e;
  box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
}

/* Kopieren nicht vergessen von card-layout +height 400px */
@media screen and (max-width: 550px) {
  .card-layout-answer {
    top: 6em;
    width: 22em;
    height: 28em;
    border: 0.25em solid #699d9e;
    box-shadow: -0.25em 0.25em 0.25em 0 lightgrey;
  }
}

.question-text {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.answer-text {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.button-show-answer {
  height: 3em;
  background-color: #63c787;
}

.show-answer {
  text-align: center;
  margin: 1rem;
}

[data-js='button_show_answer'] {
}

[data-js='hide_answer'] {
  display: none;
}
/* ______________________________________ */
[data-js='answer'] {
  display: initial;
}

.answer {
  display: initial;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1em;
  background-color: #7dc597b0;
  height: 3.125em;
  width: auto;
  padding: 0.625em;
}

.cat-active {
  height: 1.9em;
  background-color: #63c787;
  border: 3px solid #699d9e;
  border-radius: 0.3em;
}
.cat-inactive {
  height: 1.9em;
  background-color: white;
  border: 3px solid #699d9e;
  border-radius: 0.3em;
}

.cat-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 0.75em;
  padding: 0.3em;
  margin: 0;
}
