.footer-layout {
  position: fixed;
  bottom: 0;
  background-color: #63c787;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  border-top: 0.2em solid #699d9e;
}

.navigation {
  width: inherit;
  display: flex;

  justify-content: space-evenly;
}

.navigation-ul {
  width: inherit;
  display: flex;

  justify-content: space-evenly;
}

.navigation-li {
  list-style-type: none;
}
.navigation-style li a {
  text-decoration: none;
  font-size: 40px;
  margin: 0;
  color: white;
  text-shadow: 0 0 5px black;
}
