.profile-picture {
  position: absolute;
  left: 5rem;
  top: 10rem;
  background-color: white;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 0.3rem solid #699d9e;
  box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
}

@media screen and (max-width: 700px) {
  .profile-picture {
    left: 3.75rem;
    top: 7.5rem;
    width: 11.25rem;
    height: 11.25rem;
    border: 0.225rem solid #699d9e;
    box-shadow: -0.2em 0.2em 0.2em 0 lightgrey;
  }
}

@media screen and (max-width: 550px) {
  .profile-picture {
    left: 2.8rem;
    top: 5.63rem;
    width: 8.4rem;
    height: 8.4rem;
    border: 0.15rem solid #699d9e;
    box-shadow: -0.2em 0.2em 0.2em 0 lightgrey;
  }
}

.add-picture-button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  left: 16rem;
  top: 21rem;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 0.01rem solid #699d9e;
  box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
}

@media screen and (max-width: 700px) {
  .add-picture-button {
    left: 12rem;
    top: 15.75rem;
    width: 3rem;
    height: 3rem;
    box-shadow: -0.2em 0.2em 0.2em 0 lightgrey;
  }
}

@media screen and (max-width: 550px) {
  .add-picture-button {
    left: 9rem;
    top: 11.81rem;
    width: 2.25rem;
    height: 2.25rem;
    box-shadow: -0.1em 0.1em 0.1em 0 lightgrey;
  }
}

.camera-sign {
  font-size: 2.5rem;
}

@media screen and (max-width: 700px) {
  .camera-sign {
    font-size: 1.88rem;
  }
}

@media screen and (max-width: 550px) {
  .camera-sign {
    font-size: 1.41rem;
  }
}

.profile-name {
}

.profile-about {
  position: absolute;
  left: 5rem;
  top: 33rem;
  background-color: white;
  width: 40em;
  height: 15rem;
  border: 0.3rem solid #699d9e;
  box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
}

@media screen and (max-width: 700px) {
  .profile-about {
    left: 3.5rem;
    top: 23rem;
    width: 26em;
    height: 18rem;
    border: 0.225rem solid #699d9e;
    box-shadow: -0.2em 0.2em 0.2em 0 lightgrey;
  }
}

@media screen and (max-width: 550px) {
  .profile-about {
    left: 2.6rem;
    top: 18rem;
    width: 21em;
    height: 26rem;
    border: 0.15rem solid #699d9e;
    box-shadow: -0.1em 0.1em 0.1em 0 lightgrey;
  }
}

.skill-tags {
  position: absolute;
  left: 5rem;
  top: 50rem;
  background-color: white;
  width: 40em;
  height: 4rem;
  border: 0.3rem solid #699d9e;
  box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
}

@media screen and (max-width: 550px) {
  .skill-tags {
    left: 5rem;
    top: 50rem;
    background-color: white;
    width: 40em;
    height: 4rem;
    border: 0.3rem solid #699d9e;
    box-shadow: -0.3em 0.3em 0.3em 0 lightgrey;
  }
}

.logout-button {
}
